@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  line-height: 1.5;
}
body,
input,
textarea,
button {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
.btn-01 {
  background-color: #fd6e0a;
  color: #ffffff;
  border: 2px solid transparent;
  padding: 10px 20px;
  line-height: 1.5;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  transition: all 0.5s ease;
}
.btn-01:hover {
  background-color: transparent;
  border-color: #fd6e0a;
  color: #fd6e0a;
}
.btn-01:focus {
  outline: none;
}
/* Header */
.header {
  width: 100%;
  transition: all 0.5s ease;
}
.header.fixed {
  position: fixed;
}
.header .brand-name {
  padding: 0 15px;
}
.header .nav-toggle {
  width: 40px;
  height: 34px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  display: none;
}
.header.fixed .nav-toggle {
  border-color: #000000;
}
.header .nav-toggle span {
  height: 1px;
  display: block;
  width: 16px;
  background-color: #ffffff;
  position: relative;
  transition: all 0.5s ease;
}
.header .nav-toggle span:before,
.header .nav-toggle span:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  width: 100%;
  background-color: #ffffff;
  transition: all 0.5s ease;
}
.header.fixed .nav-toggle span,
.header.fixed .nav-toggle span:before,
.header.fixed .nav-toggle span:after {
  background-color: #000000;
}
.header .nav-toggle span:before {
  transform: translateY(-6px);
}
.header .nav-toggle span:after {
  transform: translateY(6px);
}
.header .nav {
  padding: 0 15px;
}
.header .nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header .nav ul li {
  display: inline-block;
  margin-left: 30px;
}
.header .nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #15295f;
  padding: 25px 0;
  display: block;
  transition: all 0.5s ease;
}
.header.fixed .nav ul li a:hover,
.header .nav ul li a:hover {
  color: #fd6e0a;
}

/* home section design */
.home-section {
  background-color: #fdf8f7;
  background-image: url("../images/backgraound_elements.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.home-section .social {
  height: 100vh;
  margin-left: 3%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 23px;
  z-index: 1099;
}
.home-section .social a img {
  transition: all 0.5s ease;
}
.home-section .social a:hover img {
  opacity: 0.5;
}
.home-section .home-text {
  flex: 0 0 50%;
  max-width: 50%;
  margin: auto 0;
}
.home-section .home-text span {
  color: #fd6e0a;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
}
.home-section .home-text h1 {
  color: #15295f;
  font-size: 41px;
  font-weight: 700;
  line-height: 55px;
  margin: 10px 0;
}
.home-section .home-text h3 {
  color: #15295f;
  font-size: 22px;
  font-weight: 700;
  line-height: 18px;
  text-transform: capitalize;
}
.home-section .home-text p {
  color: #6f6b80;
  font-size: 16px;
  line-height: 21px;
  margin: 40px 0 50px;
}
.home-section .home-btn-container {
  display: flex;
  gap: 25px;
  align-items: center;
}
.home-section .home-btn-container .btn-02 {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  border: 2px solid transparent;
  background-color: transparent;
  color: #fd6e0a;
  transition: all 0.5s ease;
}
.home-section .home-btn-container .btn-02:hover {
  border: 2px solid #fd6e0a;
  background-color: #fd6e0a;
  color: #ffffff;
}
.home-section .home-img {
  flex: 0 0 50%;
  max-width: 50%;
}
.home-section .home-img img {
  width: 595px;
  height: 585px;
}

/* support section */
.support-section {
}
.support-section .support-items {
  position: relative;
  max-width: 90%;
  margin: -70px auto 0;
  background: #ffffff;
  padding: 15px 0;
  border-radius: 500px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}
.support-items .support-item {
  padding: 15px 0;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-right: 1px solid #f2f2f2;
}
.support-items .support-item:last-child {
  border-right: 1px solid transparent;
}
.support-items .support-item span {
  width: 80px;
  height: 80px;
  background-color: #fd6e0a;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.support-item .support-text h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin-bottom: 10px;
}
.support-item .support-text p {
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  color: #fd6e0a;
}

/* service design */

.service-section {
  padding: 60px 0;
  overflow: hidden;
}
.service-section .row {
  flex-wrap: nowrap;
}
.service-section .service-title-container {
  flex: 0 0 25%;
  max-width: 25%;
}
.service-section .service-title-container p {
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #fd6e0a;
}
.service-section .service-title-container h1 {
  margin: 10px 0 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: capitalize;
  color: #000000;
}
.service-title-container .service-btn-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.service-btn-container .service-btn-left {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #ececec;
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-btn-container .service-btn-right {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fd6e0a;
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-section .service-items {
  position: relative;
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.service-section .service-items .service-element {
  position: absolute;
  left: -100px;
  bottom: -100px;
  z-index: -1;
}
.service-section .service-item {
  padding: 40px 30px;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px rgba(106, 105, 105, 0.06);
}
.service-items .service-item .service-item-logo-cont-1 {
  display: block;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #9c19c9;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-items .service-item .service-item-logo-cont-2 {
  display: block;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #ffaf00;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-items .service-item .service-item-logo-cont-3 {
  display: block;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #ff4e6e;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-items .service-item .service-item-logo-cont-4 {
  display: block;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #4ac3ca;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-items .service-item h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #15295f;
  margin: 20px 0 15px;
}
.service-items .service-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #6f6b80;
}

/* experience design */
.experience-section {
  padding: 70px 0 90px;
  background-color: #f1f4fb;
  position: relative;
}
.experience-section .experience-bg-element {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100vw;
  z-index: -1;
}
.experience-section .experience-bg-element img {
  width: 100%;
}
.experience-section p {
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  color: #fd6e0a;
}
.experience-section h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  text-transform: capitalize;
  color: #15295f;
}
.experience-section .experience-items {
  margin-top: 30px;
  justify-content: space-between;
  gap: 20px;
}
.experience-items .experience-item {
  flex: 0 0 48%;
  max-width: 48%;
}
.experience-items .experience-item .experience-info {
  display: flex;
  justify-content: space-between;
}
.experience-item .experience-info p {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.experience-item .progress-line {
  margin-top: 7px;
  height: 10px;
  width: 100%;
  background-color: #cdcdcd;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.experience-item .progress-line span {
  height: 100%;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  background-color: #fd6e0a;
  animation: animate 1s 1.5s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.experience-item .progress-line.fb-marketing span {
  width: 90%;
}
.experience-item .progress-line.affiliate-marketing span {
  width: 50%;
}
.experience-item .progress-line.seo span {
  width: 80%;
}
.experience-item .progress-line.graphic-design span {
  width: 90%;
}
.experience-item .progress-line.content-writing span {
  width: 95%;
}
.experience-item .progress-line.web-ui-design span {
  width: 49%;
}
.experience-item .progress-line.youtube-marketing span {
  width: 72%;
}
.experience-item .progress-line.web-design span {
  width: 70%;
}