@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  line-height: 1.5;
}
body,
input,
textarea,
button {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #6f6b80;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
.btn-01 {
  background-color: #fd6e0a;
  color: #ffffff;
  border: 2px solid transparent;
  padding: 10px 20px;
  line-height: 1.5;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  transition: all 0.5s ease;
}
.btn-01:hover {
  background-color: transparent;
  border-color: #fd6e0a;
  color: #fd6e0a;
}
.btn-01:focus {
  outline: none;
}
/* Header */
.header {
  width: 100%;
  transition: all 0.5s ease;
  z-index: 110;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}
.header.fixed {
  position: fixed;
  box-shadow: 0px 15px 10px -15px #6f6b80;
}
.header .brand-name {
  flex: 0 0 30%;
  max-width: 30%;
}
.header .nav-toggle {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: none;
}
.header .nav-toggle img {
  width: 100%;
  height: 100%;
}
.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 70%;
  max-width: 70%;
}
.header .nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header .nav ul li {
  display: inline-block;
  margin-left: 30px;
}
.header .nav ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #15295f;
  padding: 25px 0;
  display: block;
  transition: all 0.5s ease;
}
.header.fixed .nav ul li a:hover,
.header .nav ul li a:hover {
  color: #fd6e0a;
}

/* home section design */
.home-section {
  background-color: #fdf8f7;
  background-image: url("../images/backgraound_elements.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding-top: 100px;
}
.home-section .social {
  height: 100%;
  margin-left: -70px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
  z-index: 1;
}
.home-section .social a img {
  transition: all 0.5s ease;
}
.home-section .social a:hover img {
  opacity: 0.5;
}
.home-section .home-text {
  flex: 0 0 50%;
  max-width: 50%;
  margin: auto 0;
}
.home-section .home-text span {
  color: #fd6e0a;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
}
.home-section .home-text h1 {
  color: #15295f;
  font-size: 41px;
  font-weight: 700;
  line-height: 55px;
  margin: 10px 0;
}
.home-section .home-text h3 {
  color: #15295f;
  font-size: 22px;
  font-weight: 700;
  line-height: 18px;
  text-transform: capitalize;
}
.home-section .home-text p {
  margin: 40px 0 50px;
}
.home-section .home-btn-container {
  display: flex;
  gap: 25px;
  align-items: center;
}
.home-section .home-btn-container .btn-02 {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  border: 2px solid transparent;
  background-color: transparent;
  color: #fd6e0a;
  transition: all 0.5s ease;
}
.home-section .home-btn-container .btn-02:hover {
  border: 2px solid #fd6e0a;
  background-color: #fd6e0a;
  color: #ffffff;
}
.home-section .home-img {
  flex: 0 0 50%;
  max-width: 50%;
}
.home-section .home-img img {
  width: 100%;
  height: 100%;
}

/* support section */
.support-section .support-items {
  position: relative;
  max-width: 90%;
  margin: -70px auto 0;
  background: #ffffff;
  padding: 15px 0;
  border-radius: 500px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}
.support-items .support-item {
  padding: 15px 0;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-right: 1px solid #f2f2f2;
}
.support-items .support-item:last-child {
  border-right: 1px solid transparent;
}
.support-items .support-item span {
  width: 80px;
  height: 80px;
  background-color: #fd6e0a;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.support-item .support-text h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin-bottom: 10px;
}
.support-item .support-text h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  color: #fd6e0a;
}

/* service design */

.service-section {
  padding: 60px 0;
  overflow: hidden;
}
.service-section .row {
  flex-wrap: nowrap;
}
.service-section .service-title-container {
  position: relative;
  flex: 0 0 25%;
  max-width: 25%;
}
.service-section .service-title-container h5 {
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #fd6e0a;
}
.service-section .service-title-container h1 {
  margin-top: 10px 0 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: capitalize;
  color: #000000;
}
.service-title-container .service-btn-container {
  padding-top: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.service-btn-container .service-swiper-button-next,
.service-btn-container .service-swiper-button-prev {
  position: relative;
  left: 0;
  right: 0;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #ececec;
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
.service-btn-container .service-swiper-button-next img,
.service-btn-container .service-swiper-button-prev img {
  width: 24px;
}
.service-btn-container .service-swiper-button-next.active,
.service-btn-container .service-swiper-button-prev.active {
  background-color: #fd6e0a;
}
.service-btn-container .service-swiper-button-next.active img,
.service-btn-container .service-swiper-button-prev.active img {
  filter: invert(1);
}
.service-btn-container .service-swiper-button-next:hover,
.service-btn-container .service-swiper-button-prev:hover {
  background-color: #fd6e0a;
  transform: scale(1.1);
}
.service-btn-container .service-swiper-button-next::after,
.service-btn-container .service-swiper-button-prev::after {
  display: none;
}
.service-section .services-cont {
  position: relative;
  padding: 30px;
  flex: 0 0 100%;
  max-width: 100%;
}
.service-section .service-items {
  text-align: center;
}
.service-section .service-element {
  position: absolute;
  bottom: -100px;
  left: -100px;
  z-index: -1;
}
.service-section .service-item {
  padding: 35px 25px;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px rgba(106, 105, 105, 0.06);
}
.service-items .service-item .service-item-logo-cont-1 {
  display: block;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #9c19c9;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-items .service-item .service-item-logo-cont-2 {
  display: block;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #ffaf00;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-items .service-item .service-item-logo-cont-3 {
  display: block;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #ff4e6e;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-items .service-item .service-item-logo-cont-4 {
  display: block;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #4ac3ca;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-items .service-item h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #15295f;
  margin: 20px 0 15px;
}

/* experience design */
.experience-section {
  padding: 70px 0 90px;
  background-color: #f1f4fb;
  position: relative;
}
.experience-section .experience-bg-element {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100vw;
  z-index: -1;
}
.experience-section .experience-bg-element img {
  width: 100%;
}
.experience-section p {
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  color: #fd6e0a;
}
.experience-section h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  text-transform: capitalize;
  color: #15295f;
}
.experience-section .experience-items {
  margin-top: 30px;
  justify-content: space-between;
  gap: 20px;
}
.experience-items .experience-item {
  flex: 0 0 48%;
  max-width: 48%;
}
.experience-items .experience-item .experience-info {
  display: flex;
  justify-content: space-between;
}
.experience-item .experience-info p {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.experience-item .progress-line {
  margin-top: 7px;
  height: 10px;
  width: 100%;
  background-color: #cdcdcd;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.experience-item .progress-line span {
  height: 100%;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  background-color: #fd6e0a;
}
.experience-item .progress-line span.animate {
  animation: animate 1.5s 0.5s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.experience-item .progress-line.fb-marketing span {
  width: 90%;
}
.experience-item .progress-line.affiliate-marketing span {
  width: 50%;
}
.experience-item .progress-line.seo span {
  width: 80%;
}
.experience-item .progress-line.graphic-design span {
  width: 90%;
}
.experience-item .progress-line.content-writing span {
  width: 95%;
}
.experience-item .progress-line.web-ui-design span {
  width: 49%;
}
.experience-item .progress-line.youtube-marketing span {
  width: 72%;
}
.experience-item .progress-line.web-design span {
  width: 70%;
}

/* works section design */
.works-section {
  padding-top: 70px;
}
.works-section p {
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  color: #fd6e0a;
}
.works-section h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  text-transform: capitalize;
  color: #15295f;
}
.works-section .works-list-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 15px 0 60px;
  transform: all 0.5s ease;
}
.works-section .works-list-ul .works-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #15295f;
  cursor: pointer;
}
.works-section .works-list-ul .works-list:hover {
  color: #fd6e0a;
}
.works-section .works-list-ul .works-list.active {
  color: #fd6e0a;
}
.works-section .works-items {
  display: flex;
  gap: 30px;
}
.works-items .work-item-cont {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.works-items .work-item-cont .image {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: showImg 1s linear forwards;
}
.works-items .work-item-cont .image img {
  width: 100%;
  display: block;
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.works-items .work-item-cont .image:hover img {
  filter: grayscale(100%);
  transform: scale(1);
}
.works-items .work-item-cont .image .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease;
  opacity: 0;
}
.works-items .work-item-cont .image:hover .overlay {
  opacity: 1;
}
.works-items .work-item-cont .image .overlay img {
  width: 40px;
  margin: 0;
  transform: translateY(-30px);
  transition: all 0.5s ease;
  margin-bottom: 15px;
}
.works-items .work-item-cont .image:hover .overlay img {
  transform: translateY(0);
}
.works-items .work-item-cont .image .overlay h4 {
  color: #ffffff;
  font-size: 24px;
  margin: 0;
  transform: translateY(-30px);
  transition: all 0.5s ease;
  margin-bottom: 10px;
}
.works-items .work-item-cont .image:hover .overlay h4 {
  transform: translateY(0);
}
.works-items .work-item-cont .image .overlay p {
  color: #ffffff;
  font-size: 16px;
  margin: 0;
  transform: translateY(-30px);
  transition: all 0.5s ease;
}
.works-items .work-item-cont .image:hover .overlay p {
  transform: translateY(0);
}
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  font-size: 55px;
  right: -60px;
  top: 25px;
}

/* feedback section design */
.feedback-section {
  padding-top: 110px;
}
.feedback-section .feedback-section-title-cont {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}
.feedback-section h1 {
  max-width: 450px;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: capitalize;
  color: #15295f;
}
.feedback-section .feedback-btn-cont {
  display: flex;
  align-items: center;
  gap: 30px;
}
.feedback-btn-cont .feedback-swiper-button-next,
.feedback-btn-cont .feedback-swiper-button-prev {
  width: 50px;
  height: 50px;
  background-color: #ececec;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.feedback-btn-cont .feedback-swiper-button-next.active,
.feedback-btn-cont .feedback-swiper-button-prev.active {
  background-color: #fd6e0a;
}
.feedback-btn-cont .feedback-swiper-button-next.active img,
.feedback-btn-cont .feedback-swiper-button-prev.active img {
  filter: invert(1);
}
.feedback-btn-cont .feedback-swiper-button-next:hover,
.feedback-btn-cont .feedback-swiper-button-prev:hover {
  background-color: #fd6e0a;
  transform: scale(1.1);
}
.feedback-btn-cont .feedback-swiper-button-next img,
.feedback-btn-cont .feedback-swiper-button-prev img {
  width: 24px;
}
.feedback-section .feedback-items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.feedback-section .feedback-items-cont {
  position: relative;
  padding: 30px;
}
.feedback-section .feedback-bg-element {
  width: 240px;
  height: 165px;
  position: absolute;
  left: -80px;
  bottom: 100px;
  z-index: -1;
}
.feedback-section .feedback-bg-element img {
  width: 100%;
}
.feedback-section .feedback-item {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}
.feedback-section .feedback-item .feedback-active-img {
  display: none;
  opacity: 0;
  animation: showImg 1s linear forwards;
  transform: scale(0.9);
}
@keyframes showImg {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.feedback-section .feedback-item.swiper-slide-active {
  flex: 0 0 60%;
  max-width: 60%;
}
.feedback-section .feedback-item.swiper-slide-active .feedback-active-img {
  display: block;
  flex: 0 0 40%;
  max-width: 40%;
}
.feedback-section .feedback-item.swiper-slide-active .feedback-active-img img {
  width: 100%;
  height: 100%;
}
.feedback-item .feedback-info-cont {
  padding: 20px;
}
.feedback-item .feedback-title-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feedback-item .feedback-title-cont .feedback-title-element {
  width: 30px;
  height: 50px;
}
.feedback-item .feedback-title-cont .feedback-title-element img {
  width: 100%;
  height: 100%;
}
.feedback-item .feedback-title-cont h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}
.feedback-item .feedback-info-cont .feedback-txt {
  padding: 15px 0 40px;
}
.feedback-info-cont .feedback-person-info {
  display: flex;
  align-items: center;
  gap: 15px;
}
.feedback-person-info .feedback-person-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.feedback-person-info .feedback-person-img img {
  width: 100%;
  height: 100%;
}
.feedback-person-info .feedback-person-info h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}
.feedback-info-cont .feedback-star-cont {
  margin-bottom: 8px;
}
.feedback-info-cont .feedback-star-cont ul {
  display: flex;
  gap: 3px;
}
.feedback-info-cont .feedback-star-cont ul li {
  width: 20px;
  height: 20px;
}
.feedback-info-cont .feedback-star-cont ul li img {
  width: 100%;
  height: 100%;
}

/* blog section */
.blog-section {
  padding: 65px 0 100px;
  background-color: #1f1d2b;
}
.blog-section .blog-section-title p {
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  color: #fd6e0a;
}
.blog-section .blog-section-title h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #ffffff;
}
.blog-section .blog-items {
  padding-top: 40px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.blog-section .blog-items .blog-item {
  position: relative;
}
.blog-section .blog-items .blog-item .blog-date-cont {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #1f1d2b;
}
.blog-section .blog-items .blog-item .blog-date-cont p {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}
.blog-section .blog-items .blog-item .blog-item-img {
  overflow: hidden;
}
.blog-section .blog-items .blog-item .blog-item-img img {
  width: 100%;
  display: block;
  transition: all 0.5s ease;
}
.blog-section .blog-items .blog-item:hover .blog-item-img img {
  transform: scale(1.1);
}
.blog-items .blog-item .blog-info p {
  padding: 10px 0 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #fd6e0a;
}
.blog-items .blog-item .blog-info h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  transition: all 0.5s ease;
}
.blog-items .blog-item:hover .blog-info h4 {
  color: #fd6e0a;
}
/* blog popup */
#blog-popup-1,
#blog-popup-2,
#blog-popup-3 {
  max-width: 800px;
  background-color: #ffffff;
  margin: 40px auto;
  position: relative;
}
#blog-popup-1 .mfp-close,
#blog-popup-2 .mfp-close,
#blog-popup-3 .mfp-close {
  display: none;
}
#popup-close-btn-1,
#popup-close-btn-2,
#popup-close-btn-3 {
  width: 50px;
  height: 50px;
  position: absolute;
  right: -70px;
  border: 3px solid #ffffff;
  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
#popup-close-btn-1:hover,
#popup-close-btn-2:hover,
#popup-close-btn-3:hover {
  border-radius: 50%;
}
.popup-blog-item .popup-blog-item-img img {
  width: 100%;
  height: 60vh;
}
.popup-blog-item .blog-info {
  padding: 30px;
}
.popup-blog-item .blog-info p {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #fd6e0a;
}
.popup-blog-item .blog-info h4 {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.popup-blog-item .blog-info .popup-blog-txt {
  color: #1f1d2b;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

/* contact section design */
.contact-section {
  padding: 70px 0;
}
.contact-section .contact-info-cont {
  display: flex;
  gap: 130px;
}
.contact-section .contact-info {
  flex: 0 0 40%;
  max-width: 40%;
}
.contact-section .contact-info h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: capitalize;
  color: #000000;
}
.contact-section .contact-info p {
  padding: 15px 0 55px;
}
.contact-section .contact-social {
  display: flex;
  gap: 30px;
}
.contact-section .contact-social li {
  width: 20px;
  height: 20px;
}
.contact-section .contact-social li img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
.contact-section .contact-social li:hover img {
  opacity: 0.5;
}
.contact-section .contact-form h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}
.contact-section .contact-form .input-control {
  margin-top: 25px;
  padding: 15px 30px;
  width: 100%;
  display: block;
  color: #000000;
  background-color: #fafbfd;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.contact-section .contact-form .input-control:focus {
  outline: none;
}
.contact-section .contact-form textarea {
  height: 170px;
}
.contact-section .contact-form .form-btn {
  margin-top: 30px;
}

/* copyright */
.copyright {
  padding: 40px 0;
  background-color: #f1f4fb;
  text-align: center;
}
.copyright p {
  color: #15295f;
}

/* responsive design */
@media only screen and (max-width: 1300px) {
  .home-section .social {
    display: none;
  }
}
@media only screen and (max-width: 1240px) {
  .service-section .services-cont {
    padding: 25px;
  }
}
@media only screen and (max-width: 1024px) {
  .home-text {
    padding-bottom: 30px;
  }
  .home-section .home-text p {
    margin: 20px 0;
  }
  .support-section .support-items {
    padding: 5px 0;
    margin: -50px auto 0;
  }
  .support-items .support-item span {
    width: 60px;
    height: 60px;
  }
  .support-item .support-text h5 {
    font-size: 22px;
  }
  .support-item .support-text p {
    font-size: 18px;
  }
  .service-section .services-cont {
    padding: 20px;
  }
}
@media only screen and (max-width: 900px) {
  .header .brand-name {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .header .nav {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .service-section .row {
    flex-wrap: wrap;
  }
  .service-section .service-title-container {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 20px;
  }
  .service-title-container .service-btn-container {
    padding-top: 20px;
  }
  .service-section .services-cont {
    padding: 20px;
  }
}
@media (min-width: 768px) {
  .header .nav {
    display: flex !important;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 7px 0;
  }
  .header .nav-toggle {
    display: flex;
  }
  .header .nav {
    flex: 0 0 100%;
    max-width: 100%;
    background-color: #ffffff;
    padding: 0;
    display: none;
  }
  .header.fixed .nav {
    border-top: 1px solid #cccccc;
  }
  .header .nav ul li {
    display: block;
  }
  .header.fixed .nav ul li a,
  .header .nav ul li a {
    padding: 15px 0;
  }
  .header .nav-btn {
    margin: 15px 30px;
  }
  .support-section .support-items {
    border-radius: 0;
    margin: 60px auto 0;
  }
  .support-items .support-item {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 15px;
    justify-content: start;
  }
  .service-section .service-title-container {
    flex: 0 0 70%;
    max-width: 70%;
  }
  .works-section .works-items {
    gap: 20px;
  }
  .works-items .work-item-cont {
    gap: 20px;
  }
  .feedback-section .feedback-items-cont {
    padding: 30px;
  }
  .feedback-section .feedback-item.swiper-slide-active {
    flex: 0 0 100%;
    max-width: 100%;
  }
  #blog-popup-1,
  #blog-popup-2,
  #blog-popup-3 {
    padding: 40px 20px;
    max-width: 80%;
  }
  .blog-section .blog-items {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  .blog-section .blog-item {
    padding-top: 10px;
    flex: 0 0 48%;
    max-width: 48%;
  }
  .contact-section .contact-info-cont {
    gap: 30px;
  }
}
/* Mobile */
@media only screen and (max-width: 575px) {
  .home-section {
    padding: 100px 0 50px;
  }
  .home-section .home-text {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home-section .home-img {
    display: none;
  }
  .support-items .support-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .experience-section .experience-items {
    flex-wrap: wrap;
  }
  .experience-section .experience-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .works-section .works-list-ul {
    gap: 15px;
  }
  .works-section .works-items {
    flex-wrap: wrap;
    gap: 15px;
  }
  .works-items .work-item-cont {
    flex: 0 0 48%;
    max-width: 48%;
    gap: 15px;
  }
  .feedback-section .feedback-section-title-cont {
    flex-wrap: wrap;
  }
  .feedback-section h1 {
    margin-bottom: 20px;
  }
  .feedback-section .feedback-items-cont {
    padding: 20px;
  }
  .feedback-section .feedback-item.swiper-slide-active .feedback-active-img {
    display: none;
  }
  #blog-popup-1,
  #blog-popup-2,
  #blog-popup-3 {
    max-width: 90%;
  }
  .blog-section .blog-items {
    gap: 40px;
  }
  .blog-section .blog-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .contact-section .contact-info-cont {
    flex-wrap: wrap;
  }
  .contact-section .contact-info {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 420px) {
  .service-section .service-title-container {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .works-section .works-list-ul {
    flex-wrap: wrap;
  }
  .works-section .works-items {
    gap: 10px;
  }
  .works-items .work-item-cont {
    gap: 10px;
  }
}
@media only screen and (max-width: 375px) {
  .service-section .service-item {
    padding: 15px;
  }
  .feedback-item .feedback-info-cont {
    padding: 15px;
  }
}
